.Post {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.post-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-color-holder {
  border-radius: 10px 10px 0px 0px;
  height: 150px;
}

.post-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.post-title {
  text-align: center;
  width: 80%;
}

.post-date,
.post-text {
  width: 80%;
}

.graytext {
  color: gray;
}

@media screen and (min-width: 320px) {
  .Post {
    padding: 15px 10%;
  }
}

@media screen and (max-width: 440px) {
  .post-title {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .Post {
    padding: 15px 15%;
  }
}

@media screen and (min-width: 1400px) {
  .Post {
    padding: 15px 20%;
  }
}
