.Home {
  padding: 15px 7%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}
